name: Say Hello

on:
  push:
    branches:
      - main


jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: |
          echo "Hello World!"
      - name: What date is it?
        run: |
          date
      - name: Directory Content
        run: |
          ls -l
